.heading
{
    font-size: 22px;
    width:80%;
}
.name_of_objects, #result_object_name, #result_object_accuracy
{
    color:yellow;
}
#camera
{
    border:2px dashed black;
        width:350px;
    height:350px;
}
